body{
    background-color:#FCD3CA;
}

h1{
    font-family: Comfortaa;
    
}

p{
    font-family: Open Sans;
}
.top-nav{
    font-family: Open Sans;
    font-weight: 600;
    font-size: 25px;
    /*display: block;*/
    padding:5px;
    /*width: 175px;*/
     list-style-type: none ;
    

   
   
    

}
a{
    margin: 0px;
    margin-left: 100px;
    text-decoration: none;
    text-align:center;
}


/* unvisited link */
a:link {
    color: black;
}

/* visited link */
a:visited {
    color: black;
}

/* mouse over link */
a:hover {
    color: purple;
    text-decoration: line-through;
}
#sub-cont:hover{
    color:red;
}
.mid-para:hover{
    background-color: yellow;
    color: blue;
    font-family: Open Sans;
}


/* selected link */
a:active {
    color: red;
}